<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NebComp Solution Stock Management</title>
    <link rel="stylesheet" href="/login.css">
  </head>
  <body class="bg-[#eeeeee]">
    
    <h1>
        oops! wrong page
    </h1>

  </body>
</html>