<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/dashboardstyle.css">
  </head>
  <body class="bg-[#eeeeee]">


<div class="flex mt-2 justify-center bg-[#eeeeee] ">    
    <div class=" w-11/12">

      <%- include('./partials/adminprofile.ejs') %>
      
      <div class="flex justify-center py-5"><!--search box-->

        <div class="w-10/12 h-15 bg-white border border-slate-300  justify-center inline-flex">
          <div class="h-[55px] justify-start items-center gap-10 inline-flex">
            <div class="text-black text-xl font-bold font-['Montserrat'] leading-[30px]">
              Inventory
            </div>
            <div class="w-10"></div>
            <div class="text-slate-400 text-xl relative font-normal font-['Montserrat'] leading-[30px] ">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 absolute left-2 top-1/2 transform -translate-y-1/2 ">
                <path fill-rule="evenodd" d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z" clip-rule="evenodd" />
              </svg>
              <input id="search" name="search" type="search" autocomplete="search" 
              required class="w-64 h-12 focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 px-10 rounded-lg border border-solid shadow-sm bg-white bg-opacity-60 border-sky-200 placeholder-slate-500 placeholder:text-md placeholder:font-light font-medium text-md text-black" 
              placeholder="Search"  >  
            </div>
            <div class="w-20"></div>
            <button >
              <div class="p-2 bg-sky-500 hover:bg-sky-600 rounded justify-center items-center gap-2 flex">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
              class="w-6 h-6 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
                <div class="text-white text-base font-semibold font-['Montserrat'] leading-normal">Add New Product</div>
            </div>
            </button>
            <button>
              <div class="p-2 bg-violet-700 hover:bg-violet-800 rounded justify-center items-center gap-2 flex">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
              class="w-6 h-6 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="m15 11.25-3-3m0 0-3 3m3-3v7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
                <div class="text-white text-base font-semibold  leading-normal">Update Product</div>
            </div>
            </button>
            
          </div>
        </div>
      </div>
      
      <div class="flex justify-center"><!--inventory table-->
        <div class="w-11/12 border border-slate-300 bg-white px-5 py-1">
          <div class="text-black text-xl font-bold font-['Montserrat'] leading-[30px]">
            Products
          </div>
          <table class="table-auto text-md">
          <thead>
            <tr class="text-slate-500 pb-40">
              <th></th>
              <th class="w-3/12 text-start">Name</th>
              <th class="w-1/12 text-start">Code</th>
              <th class="w-[15%] text-start">Date</th>
              <th class="w-1/12 text-start">Type</th>
              <th class="w-1/12 text-start">Quantity</th>
              <th class="w-[14%] text-start">Purchased Price</th>
              <th class="w-[12%] text-start">Selling Price</th>
              <th class="w-[12%] text-start">Image</th>
            </tr>
          </thead>
          <tbody class="text-sm font-medium">
            <tr">
              <td><input type="checkbox" id="remember-me" name="remember-me" class="mr-3"></td>
              <td>Macbook</td>
              <td>001</td>
              <td>apr-20-2024</td>
              <td>Laptop</td>
              <td>45</td>
              <td>$500</td>
              <td>$700</td>
              <td><img class="w-14" src="assets/download.jfif" alt=""></td>
            </tr>
            <tr>
              <td><input type="checkbox" id="remember-me" name="remember-me" class="mr-3"></td>
              <td>Macbook</td>
              <td>001</td>
              <td>apr-20-2024</td>
              <td>Laptop</td>
              <td>45</td>
              <td>$500</td>
              <td>$700</td>
              <td><img class="w-14" src="assets/download.jfif" alt=""></td>
            </tr>
            <tr>
              <td><input type="checkbox" id="remember-me" name="remember-me" class="mr-3"></td>
              <td>Macbook</td>
              <td>001</td>
              <td>apr-20-2024</td>
              <td>Laptop</td>
              <td>45</td>
              <td>$500</td>
              <td>$700</td>
              <td><img class="w-14" src="assets/download.jfif" alt=""></td>
            </tr>
            <tr>
              <td><input type="checkbox" id="remember-me" name="remember-me" class="mr-3"></td>
              <td>Macbook</td>
              <td>001</td>
              <td>apr-20-2024</td>
              <td>Laptop</td>
              <td>45</td>
              <td>$500</td>
              <td>$700</td>
              <td><img class="w-14" src="assets/download.jfif" alt=""></td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>

      <div class="flex justify-center pb-20"><!--selected list table-->
        <div class="w-10/12 border border-slate-300 bg-white px-5 mt-5 py-1">
          <div class="text-black text-xl font-bold font-['Montserrat'] leading-[30px]">
            Selectd List
          </div>
          <table class="table-auto text-md">
          <thead>
            <tr class="text-slate-500 pb-40">
              <th></th>
              <th class="w-[23%] text-start">Name</th>
              <th class="w-1/12 text-start">Code</th>
              <th class="w-[15%] text-start">Comment</th>
              <th class="w-1/12 text-start">Type</th>
              <th class="w-1/12 text-start">Quantity</th>
              <th class="w-[14%] text-start">Selling Price</th>
              <th class="w-[12%] text-start">Image</th>
              <th class="w-1/12 text-start">Total </th>
            </tr>
          </thead>
          <tbody class="text-sm font-medium">
            <tr">
              <td><input type="checkbox" id="remember-me" name="remember-me" class="mr-3"></td>
              <td>Macbook</td>
              <td>001</td>
              <td>
                <input id="search" name="search" type="search" autocomplete="search" 
                required class="focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 rounded-lg border border-solid shadow-sm bg-opacity-60 border-slate-200 placeholder-black placeholder:text-md placeholder:font-medium font-medium text-md text-black" 
                placeholder="beloved customer"  >  </td>
              <td>Laptop</td>
              <td>
                <input id="search" name="search" type="number" autocomplete="search" 
                required class="w-14 focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 rounded-lg border border-solid shadow-sm bg-opacity-60 border-slate-200 placeholder-black placeholder:text-md placeholder:font-medium font-medium text-md text-black" 
                placeholder="1"  >  
              </td>
              <td>
                <input id="search" name="search" type="number" autocomplete="search" 
                required class="w-24 focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 rounded-lg border border-solid shadow-sm bg-opacity-60 border-slate-200 placeholder-black placeholder:text-md placeholder:font-medium font-medium text-md text-black" 
                placeholder="$400"  >  </td>
              <td><img class="w-14" src="assets/download.jfif" alt=""></td>
              <td>$800</td>
            </tr>
            <tr">
            <td><input type="checkbox" id="remember-me" name="remember-me" class="mr-3"></td>
            <td>Macbook</td>
            <td>001</td>
            <td>
              <input id="search" name="search" type="search" autocomplete="search" 
              required class="focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 rounded-lg border border-solid shadow-sm bg-opacity-60 border-slate-200 placeholder-black placeholder:text-md placeholder:font-medium font-medium text-md text-black" 
              placeholder="beloved customer"  >  </td>
            <td>Laptop</td>
            <td>
              <input id="search" name="search" type="number" autocomplete="search" 
              required class="w-14 focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 rounded-lg border border-solid shadow-sm bg-opacity-60 border-slate-200 placeholder-black placeholder:text-md placeholder:font-medium font-medium text-md text-black" 
              placeholder="1"  >  
            </td>
            <td>
              <input id="search" name="search" type="number" autocomplete="search" 
              required class="w-24 focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 rounded-lg border border-solid shadow-sm bg-opacity-60 border-slate-200 placeholder-black placeholder:text-md placeholder:font-medium font-medium text-md text-black" 
              placeholder="$400"  >  </td>
            <td><img class="w-14" src="assets/download.jfif" alt=""></td>
            <td>$800</td>
          </tr>
          <tr">
          <td><input type="checkbox" id="remember-me" name="remember-me" class="mr-3"></td>
          <td>Macbook</td>
          <td>001</td>
          <td>
            <input id="search" name="search" type="search" autocomplete="search" 
            required class="focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 rounded-lg border border-solid shadow-sm bg-opacity-60 border-slate-200 placeholder-black placeholder:text-md placeholder:font-medium font-medium text-md text-black" 
            placeholder="beloved customer"  >  </td>
          <td>Laptop</td>
          <td>
            <input id="search" name="search" type="number" autocomplete="search" 
            required class="w-14 focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 rounded-lg border border-solid shadow-sm bg-opacity-60 border-slate-200 placeholder-black placeholder:text-md placeholder:font-medium font-medium text-md text-black" 
            placeholder="1"  >  
          </td>
          <td>
            <input id="search" name="search" type="number" autocomplete="search" 
            required class="w-24 focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 rounded-lg border border-solid shadow-sm bg-opacity-60 border-slate-200 placeholder-black placeholder:text-md placeholder:font-medium font-medium text-md text-black" 
            placeholder="$400"  >  
          </td>
          <td><img class="w-14" src="assets/download.jfif" alt=""></td>
          <td>$800</td>
        </tr>
        <tr">
        <td><input type="checkbox" id="remember-me" name="remember-me" class="mr-3"></td>
        <td>Macbook</td>
        <td>001</td>
        <td>
          <input id="search" name="search" type="search" autocomplete="search" 
          required class="focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 rounded-lg border border-solid shadow-sm bg-opacity-60 border-slate-200 placeholder-black placeholder:text-md placeholder:font-medium font-medium text-md text-black" 
          placeholder="beloved customer"  >  </td>
        <td>Laptop</td>
        <td>
          <input id="search" name="search" type="number" autocomplete="search" 
          required class="w-14 focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 rounded-lg border border-solid shadow-sm bg-opacity-60 border-slate-200 placeholder-black placeholder:text-md placeholder:font-medium font-medium text-md text-black" 
          placeholder="1"  >  
        </td>
        <td>
          <input id="search" name="search" type="number" autocomplete="search" 
          required class="w-24 focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 rounded-lg border border-solid shadow-sm bg-opacity-60 border-slate-200 placeholder-black placeholder:text-md placeholder:font-medium font-medium text-md text-black" 
          placeholder="$400"  >  
        </td>
        <td><img class="w-14" src="assets/download.jfif" alt=""></td>
        <td>$800</td>
      </tr>
          </tbody>
        </table>
        <hr class="w-full h-px mx-auto bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-400">
        <div class="flex justify-end mb-2 mt-[-25px]">
          <button >
            <div class="p-2 bg-pink-600 hover:bg-pink-700 rounded justify-center items-center gap-2 flex">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
            class="w-6 h-6 text-white">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
              <div class="text-white text-base font-semibold font-['Montserrat'] leading-normal">Place Order</div>
          </div>
          </button>
          <div class="mx-10 font-medium text-lg">
            $1200
          </div>
        </div>
        </div>
      </div>

    </div>
  </div>
  </body>
</html>