<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HashStock - Trancsaction History</title>
    <link rel="stylesheet" href="transactionhistorystyle.css">
   <!-- <script src="https://cdn.tailwindcss.com"></script>-->
  </head>
  <body class="bg-[#eeeeee]">

    <div class="flex mt-2 justify-center bg-[#eeeeee] mb-20 ">    <!--Transaction History page-->
        <div class=" w-11/12">
    
          <%- include('./partials/adminprofile.ejs') %>
          <% let userrole %>
      <%if (user.role === 'admin' ) { %>
        <% userrole = ''; %>
      <% } else { %>
        <% userrole = 'hidden' %>
      <% } %>

          <form id="myForm" action="/transactionhistory/bydate" method="post">
            <div class="flex justify-center py-5 "><!--date selector-->
            <div class="grid justify-items-center md:flex gap-2 bg-white border border-slate-300 py-2 px-3 ">
                <div class="text-black text-center self-center text-xl font-bold font-['Montserrat'] ">
                  Transaction History
                </div>
                  <div class="flex gap-2">
                    <div class="border border-slate-200">
                      <p class="text-black font-medium text-center">start</p>
                      <input type="date" id="startdate" name="startdate" required class="" >
                    </div>
                    
                    <div class="border border-slate-200">
                      <p class="text-black font-medium text-center">end</p>
                      <input type="date" id="enddate" name="enddate" required class="" >
                    </div>
                  </div>
                  <button >
                    <div class="p-1 md:p-2 bg-sky-500 hover:bg-sky-600 rounded justify-center items-center gap-2 flex">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m5.231 13.481L15 17.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v16.5c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Zm3.75 11.625a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                      </svg>                      
                      <div class="text-white text-base font-medium md:font-semibold font-['Montserrat'] leading-normal">Query Transaction</div>
                    </div>
                  </button>
                
              </div>
            </div>
          </form>
          
            <% var profittotal = 0; %>
            <% var soldtotal = 0; %>
                <div class="flex justify-center  "><!--transaction table-->
            <div class="w-full h-96 lg:w-11/12 overflow-auto border-l border-r border-t  border-slate-300 bg-white px-5 py-1">
              <div class="text-black text-xl font-bold font-['Montserrat'] leading-[30px]">
                Transactions
              </div>

              <div class="w-[900px] md:w-[1070px] ">
              <table class="table-auto text-md">
              <thead>
                <tr class="text-slate-500 pb-40">
                  <th class="w-[13%] text-start">Name</th>
                  <th class="w-[13%] text-start">model</th>
                  <th class="w-[10%] text-start">Type</th>
                  <th class="w-[10%] text-start">Comment</th>
                  <th class="w-[10%] text-start">Date</th>
                  <th class="w-1/12 text-start">Quantity</th>
                  <th class="w-[13%] text-start">Purchased Price</th>
                  <th class="w-[9%] text-start">Sold Price</th>
                  <th class="w-[5%] text-start">Total</th>
                  <th class="w-[8%] text-start">Profit</th>
                  <th class="w-[12%] text-start">Image</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="text-sm font-medium">
                <% if (itemlist.length > 0) { %>
                  <% itemlist.forEach(item => { %>
                    <% profittotal += (item.soldprice-item.purchasedprice) * item.quantity %>
                    <% soldtotal += item.soldprice * item.quantity %>
                    <tr data-id = "<%= JSON.stringify(item)  %>" class="hover:bg-slate-100 p-3 mx-2 rounded-xl">
                      <td> <%= item.name %> </td>
                      <td> <%= item.model %> </td>
                      <td> <%= item.type %> </td>
                      <td> <%= item.comment %> </td>
                      <td> <%= item.updatedAt.toISOString().slice(0,10) %>  </td>
                      <td> <%= item.quantity %> </td>
                      <td> <%= item.purchasedprice %> </td>
                      <td> <%= item.soldprice %> </td>
                      <td> <%= item.soldprice * item.quantity %> </td>
                      <td> <%= (item.soldprice - item.purchasedprice) * item.quantity %> </td>
                      <td><img class="w-14" src="assets/download.jfif" alt=""></td>
                      <td class="px-2 <%=userrole%>">
                  
                          <button id="delete" >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-rose-800 hover:text-rose-700">
                              <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                            </svg>
                          </button>
                        
                      </td>
                      <td class="hidden"><%=item._id%></td>
                    </tr>
                  <% }) %>
                <% } else { %>
                  <tr>
                    <td></td>
                    <td>No Data To Display</td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
            </div>
          </div>
          <div class="flex justify-center mb-20">
            <div class="w-11/12 border-l border-r border-b border-slate-300 bg-white md:pl-8">
              <hr class="w-full h-px mx-auto bg-gray-100 border-0 rounded  dark:bg-gray-400">
            <div class="flex justify-end my-2 ">
              <div class="w-40 font-normal text-md">
                Total for the selected day(s).
              </div>
              <div class="mx-2 md:mx-4 font-medium md:font-semibold text-md lg:text-lg">
                Sold Total
                <div >
                  $<%= soldtotal %>
                </div>
              </div>
              <div class="mr-3 md:mr-10 font-medium md:font-semibold text-md lg:text-lg">
                Profit Total
                <div>
                  $<%= profittotal %>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <!-- Overlay element -->
    <div id="overlay" class="fixed hidden z-40 w-screen h-screen inset-0 bg-gray-900 bg-opacity-60"></div>
     <!-- The dialog -->
    <div id="dialog" class="hidden fixed z-50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-96 bg-white rounded-md px-6 py-4 drop-shadow-lg">
      <h1 class="text-black text-xl font-bold font-['Montserrat'] leading-[30px] text-center pb-1">Confirmation</h1>
      <div class="py-5 border-t border-b border-gray-300">
          <p class="text-sm font-medium">You are about to delete the <span id="span" class="font-bold"></span> record from the entry. this will restore the quantity of the item and removes the transaction. <br>
            <br>
            Do you want to proceed?
          </p>
      </div>
      <div class="flex justify-around pt-3">
        <!-- This button is used to close the dialog -->
        <button id="close">
          <div class="p-1 md:p-2 bg-sky-500 hover:bg-sky-600 rounded justify-center items-center gap-2 flex">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
              <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>              
            <div class="text-white text-base pr-3 font-medium md:font-semibold font-['Montserrat'] leading-normal">Cancel</div>
          </div>
        </button>
          <!-- This button is used to confirm the dialog -->
          <form id="confirmform" action="" method="get">
            <button id="confirm">
              <div class="p-1 md:p-2 bg-rose-600 hover:bg-rose-700 rounded justify-center items-center gap-2 flex">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                </svg>            
                <div class="text-white text-base font-medium md:font-semibold font-['Montserrat'] leading-normal">Confirm</div>
              </div>
            </button>
          </form>
          
      </div>
    </div>

      <script src="/togglemenu.js"></script>
      <script>
        var deleteButtons = document.querySelectorAll('button[id="delete"]');
        var dialog = document.getElementById('dialog');
        var closeButton = document.getElementById('close');
        var overlay = document.getElementById('overlay');
        var confirmButton = document.getElementById('confirm');
        var span = document.getElementById('span');
        var itemToBeRemoved = [];
        // show the overlay and the dialog
        deleteButtons.forEach(deleteButton => {
          deleteButton.addEventListener('click', function () {
            let restoreTransaction = this.closest('tr').dataset.id;
            let restoreItem = JSON.parse(restoreTransaction);
            itemToBeRemoved = restoreItem;
            span.textContent = restoreItem.name + " with quantity of " + restoreItem.quantity;
            dialog.classList.remove('hidden');
            overlay.classList.remove('hidden');
            
          });
        })
        

        // hide the overlay and the dialog
        closeButton.addEventListener('click', function () {
            dialog.classList.add('hidden');
            overlay.classList.add('hidden');
        });
        confirmButton.addEventListener('click', function () {
          document.getElementById("confirmform").action = '/transationrestore/' + itemToBeRemoved._id;
        })
      </script>
  </body>
</html>